/* SCSS */

$header-height: 80px; 

body, html {
    
}
.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $header-height;
}


nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: #ddd;
}

nav a {
    height: $header-height;
    display: block;
    line-height: $header-height;
    float: left;
    text-decoration: none;
    padding: 0 0.5em;
}

nav li:first-child a {
    padding-left: 1em;
}


h1 {
    font-size: 2em;   
}

input {
    padding: 0.5em;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}   



/* Hide for Logged in/out */
body.logged-in .hide-if-logged-in {
    display: none;
}

body:not(.logged-in) .hide-if-not-logged-in {
    display: none;   
}


















